<div class="logos-container row pt-30">
    <div class="col-3 social-icon container-image">
        <a href="https://twitter.com/usd_project?t=VXO3Va3cOFFW91VlX1dNhQ&s=09">
            <img src="{{ site.baseurl }}/assets/img/social/twitter_logo.svg" alt="Twitter logo">
        </a>
    </div>
    <div class="col-3 social-icon container-image">
        <a href="https://www.linkedin.com/company/universities-for-sustainable-development">
            <img src="{{ site.baseurl }}/assets/img/social/linkedin_logo.svg" alt="Linkedin logo">
        </a>
    </div>
    <div class="col-3 social-icon container-image">
        <a href="https://www.facebook.com/UniversitiesForSustainableDevelopment">
            <img src="{{ site.baseurl }}/assets/img/social/facebook_logo.svg" alt="Facebook logo">
        </a>
    </div>
    <div class="col-3 social-icon container-image">
        <a href="https://www.instagram.com/usd_project/?igshid=YmMyMTA2M2Y=">
            <img src="{{ site.baseurl }}/assets/img/social/instagram_logo.svg" alt="Instagram logo">
        </a>
    </div>
</div>