footer {
    background-color: rgb(211,211,211);
}

#disclaimer {
    display: inline-block;
    font-size: 13px;
    padding-left: 13px;
}

#footer-links {
    display: flex;
    height: 100%;
    align-items: end;
    justify-content: end;
    font-size: 13px; 
    ul {
        list-style-type: none;
        li {
            font-size: 1rem;
            padding: 0;
            margin: 0 0 10px 0;
        }
    }
}
